In [93]:
#Weight converter
weight_lbs = input( 'weight_lbs:')
weight_kg = int(weight_lbs) * 0.45
print(weight_kg)

weight_lbs:300
135.0

In [3]:
#Speed checker
def speed_limiter(speed):
    if speed<70:
        print('Ok')
    else:
            speed=(speed-70)
            points=(speed//5)
            print('points:',points)
            if points>12:
                print('License Suspended ')
speed=int(input('Enter speed'))
speed_limiter(speed)

Enter speed300
points: 46
License Suspended

In [4]:
#my first code on python dict
my_dict={'shut down': 'alt f4', 'shutup': [1,2,3,4,]}
my_dict

{'shut down': 'alt f4', 'shutup': [1, 2, 3, 4]}

In [5]:
my_dict.keys()

dict_keys(['shut down', 'shutup'])

In [6]:
my_dict['shut down']

'alt f4'

In [7]:
my_dict.items()

dict_items([('shut down', 'alt f4'), ('shutup', [1, 2, 3, 4])])

In [8]:
my_dict.values()

dict_values(['alt f4', [1, 2, 3, 4]])

In [9]:
# python list
my_list=[20,2,7,10,17,100,230]
my_list

[20, 2, 7, 10, 17, 100, 230]

In [10]:
my_list.append(29072018)

In [11]:
my_list

[20, 2, 7, 10, 17, 100, 230, 29072018]

In [12]:
sorted(my_list, reverse=True)

[29072018, 230, 100, 20, 17, 10, 7, 2]

In [13]:
my_list
list(enumerate(my_list))
for count,item in enumerate(my_list, start=1 ):
    print(count,item)
    sorted(my_list, reverse=True)
    print(sorted(my_list))

1 20
[2, 7, 10, 17, 20, 100, 230, 29072018]
2 2
[2, 7, 10, 17, 20, 100, 230, 29072018]
3 7
[2, 7, 10, 17, 20, 100, 230, 29072018]
4 10
[2, 7, 10, 17, 20, 100, 230, 29072018]
5 17
[2, 7, 10, 17, 20, 100, 230, 29072018]
6 100
[2, 7, 10, 17, 20, 100, 230, 29072018]
7 230
[2, 7, 10, 17, 20, 100, 230, 29072018]
8 29072018
[2, 7, 10, 17, 20, 100, 230, 29072018]

In [14]:
my_list 
list(enumerate(my_list ))
for count,item in enumerate(my_list, start=1):
    print(count,item)

1 20
2 2
3 7
4 10
5 17
6 100
7 230
8 29072018

In [15]:
l1= my_list.copy()
l2= my_list.copy() 
l3= my_list.copy()

In [16]:
l1.pop()

29072018

In [17]:
del l3 [2:]
l3

[20, 2]

In [18]:
set([1,2,3,1,2,3,3,2,1,3,1,3,2,1,2])

{1, 2, 3}

In [19]:
my_set={4,5,6,4,5,6,4,5,6,4,5,6}
my_set

{4, 5, 6}

In [20]:
my_set.pop()

4

In [21]:
my_set.add(1)
my_set

{1, 5, 6}

In [22]:
my_set.add(20)
my_set

{1, 5, 6, 20}

In [23]:
name = 'samuel ekuma'
if name == 'Samuel ekuma':
    print('sabinus')
elif name =='samuel ekuma':
    print('Kingship wonderfied')
else:
    print('God is Good')

Kingship wonderfied

In [24]:
name= 'Joshua'
if name== 'joshua':
    print('you are blessed')
elif name== 'Joshua':
    print('Joshua!!')
else:
    print('wonderful')

Joshua!!

In [25]:
for item in range(2,20,2):
    print(item)

2
4
6
8
10
12
14
16
18

In [26]:
x=[(2,4),(5,4),(2,5)]
x

[(2, 4), (5, 4), (2, 5)]

In [27]:
for a,b in x:
    print('first number is {} and second number is {}'.format(a,b))

first number is 2 and second number is 4
first number is 5 and second number is 4
first number is 2 and second number is 5

In [28]:
a= ['Patrick', 'Samuel','Rita','Happiness','Ndidi','covenant']
list(enumerate(a))
for counter, item in enumerate(a):
    print(counter,item)

0 Patrick
1 Samuel
2 Rita
3 Happiness
4 Ndidi
5 covenant

In [29]:
for counter,item in enumerate(a, start=1):
    print(counter,item)

1 Patrick
2 Samuel
3 Rita
4 Happiness
5 Ndidi
6 covenant

In [30]:
x=[1,2,3,4,5]
x

[1, 2, 3, 4, 5]

In [31]:
my_list=[]
for i in x:
    my_list.append(i**2+1)
print(my_list)

[2, 5, 10, 17, 26]

In [32]:
[x**2+1 for x in range(1,6)]

[2, 5, 10, 17, 26]

In [33]:
Code= 1210
Name= 'samuel'
print('My code is {}, and My Name is {}'.format(Code,Name))

My code is 1210, and My Name is samuel

In [ ]:
sam='hello My name is samuel, am learning ML'
sam

In [ ]:
sam.upper()

In [ ]:
x=[(2,3),(4,5),(6,7)]
x

In [ ]:
for a,b in x:
    print('first number is {} second numer is {}'.format(a,b))

In [ ]:
[sam**2+2 for sam in range(1,6)]

In [ ]:
def sam(x):
    """" this is my function to add 10 your number"""
    print(x+20)

In [ ]:
sam

In [ ]:

lambda x: x**3

In [ ]:
def power_3(x):
    return x**3

In [ ]:
power_3 (2)

In [ ]:
seq=[1,2,3,4,5,6]
seq

In [ ]:
list(map(power_3,seq))

In [ ]:
list(map(lambda x: x**3,range(1,7)))

In [ ]:
list(map(lambda x:x**3, range(10)))

In [ ]:
list(filter(lambda x:x>3,range(10)))

In [ ]:
Stocks=['AAPL','AMZN','TSLA','MSFT']
Stocks

In [ ]:
list(map(lambda x: x[0]=='T',Stocks))

In [ ]:
list(filter(lambda x:x[0]=='A'and x[-1]=='L',Stocks))

In [ ]:
list(map(lambda x,y: x+y,[2,4,],[5,6]))